body{
    background-color: #f1f5af;
}

.catalog-container{
    margin-top: 15px;

}
h1{
    color:#473636;
    text-align: center;
    margin-bottom: 30px;
}

.item{
    border: 1px solid #bababa;
    width: 250px;
    height: 300px;
    display: inline-block;
    margin-right: 15px;
    vertical-align: top;
    border-radius: 6px;
    margin-bottom: 10px;
    text-align: center;
    background-color: #eeeeee;
}
.item:hover {
    border: 1px solid black;
}

.item img{
    width: 190px;
    height: 135px;
}
.item-button{
    margin-left: 80px;
    float: right;
    margin-right: 5px;
}
nav{
    box-shadow: 0px 2px 4px #ccc;
}